## 목표
- 500명의 키와 몸무게, 비만도 라벨을 이용해서 비만을 판단하는 모델을 만들기

In [1]:
# 라이브러리 가져오기
# numpy, pandas, matplotlib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
# bmi_500 import
bmi = pd.read_csv('bmi_500.csv', index_col='Label')
# 최상단 5개 데이터만 출력
bmi.head()

            Gender  Height  Weight
Label
Obesity       Male     174      96
Normal        Male     189      87
Obesity     Female     185     110
Overweight  Female     195     104
Overweight    Male     149      61

In [7]:
# Label이 Normal인 데이터만 가져오기(loc, iloc 인덱서 활용)
bmi.loc['Normal']

        Gender  Height  Weight
Label
Normal    Male     189      87
Normal    Male     195      81
Normal    Male     155      51
Normal    Male     191      79
Normal  Female     172      67
...        ...     ...     ...
Normal  Female     178      65
Normal    Male     167      64
Normal  Female     151      55
Normal    Male     187      80
Normal  Female     164      59

[69 rows x 3 columns]

In [8]:
# 전체 row수, 결측치 여부, 컬럼명 정보
bmi.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Obesity to Extreme Obesity
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  500 non-null    object
 1   Height  500 non-null    int64
 2   Weight  500 non-null    int64
dtypes: int64(2), object(1)
memory usage: 31.8+ KB

In [9]:
# 기술통계 확인
# describe() method 사용
bmi.describe()

           Height      Weight
count  500.000000  500.000000
mean   169.944000  106.000000
std     16.375261   32.382607
min    140.000000   50.000000
25%    156.000000   80.000000
50%    170.500000  106.000000
75%    184.000000  136.000000
max    199.000000  160.000000

## 각 비만도 등급별로 시각화